#!/usr/bin/env bash

ROOT="./"
DRY_RUN=true

PHP_CS_FIXER="./vendor/friendsofphp/php-cs-fixer/php-cs-fixer"
HAS_PHP_CS_FIXER=false

if [ -x $PHP_CS_FIXER ]; then
    HAS_PHP_CS_FIXER=true
fi

if $HAS_PHP_CS_FIXER; then
    if [ $DRY_RUN ]; then
        php $PHP_CS_FIXER fix ./ --config-file=$ROOT/.php_cs --dry-run --diff
    else
        php $PHP_CS_FIXER fix ./ --config-file=$ROOT/.php_cs --diff
        echo "Potentially modified files"
        exit 0
    fi

    if [ $? != 0 ]; then
        echo "php-cs-fixer failed"
        exit 2
    fi

    echo "php-cs-fixer pass"
    exit 0
else
    echo ""
    echo "Please install php-cs-fixer:"
    echo ""
    echo "  composer update"
    exit 1
fi
