/**
 * Talent Linker - SCSS - Variables - Borders
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
*/

/****************************/
/********** HEADER **********/
/****************************/

$headerBorder:                      none;

/********************************************************************************/
/********************************************************************************/

/********************************/
/********** NAVIGATION **********/
/********************************/

$navbarBorder:                      none;
$navbarLiBorder:                    none;
$navbarToggleBorder:                none;
$navbarToggleBorderH:               none;
$navbarToggleBorderRadius:          0;

$navbarScrolledToggleBorder:        none;
$navbarScrolledToggleBorderH:       none;

/********************************************************************************/
/********************************************************************************/

/****************************/
/********** FOOTER **********/
/****************************/

$footerBorder:                      none;

/********************************************************************************/
/********************************************************************************/

/***************************/
/********** FORMS **********/
/***************************/

$inputFormBorder:                   1px solid $myBrandPrimaryColor;
$inputFormBorderF:                  1px solid $myBrandPrimaryColorLight;
$formSubmitBorder:                  1px solid $myBrandPrimaryColor;
$formSubmitBorderH:                 1px solid $myBrandPrimaryColor;
$formInputBorderRadius:             0;
$formSubmiBorderRadius:             0;

/********************************************************************************/
/********************************************************************************/

/*****************************/
/********** BUTTONS **********/
/*****************************/

$btnBorder:                         1px solid $myBrandPrimaryColor;
$btnBorderH:                        1px solid $myBrandPrimaryColor;
$btnBorderRadius:                   0;
$btnOutlineBorder:                  1px solid $myWhite;
$btnOutlineBorderH:                 1px solid $myWhite;
$btnOutlineBorderRadius:            0;

/********************************************************************************/
/********************************************************************************/

/******************************/
/********** ELEMENTS **********/
/******************************/

$borderedElement:                   1px solid $myBrandGrayLight;