/**
 * Talent Linker - SCSS - Variables - Line height
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

/**************************/
/********** BODY **********/
/**************************/ 

$bodyLineHeight:                    1.5;

/********************************************************************************/
/********************************************************************************/

/********************************/
/********** NAVIGATION **********/
/********************************/ 

$navLineHeight:                     1;

/********************************************************************************/
/********************************************************************************/

/****************************/
/********** FOOTER **********/
/****************************/ 

$footerLineHeight:                  1.5;

/********************************************************************************/
/********************************************************************************/

/***********************/
/********** P **********/
/***********************/ 

$pLineHeight:                       1.5;