/**
 * Talent Linker - SCSS - Variables - Margin
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

/****************************/
/********** HEADER **********/
/****************************/

$headerMargin:                      0;

/********************************************************************************/
/********************************************************************************/

/********************************/
/********** NAVIGATION **********/
/********************************/

$navbarMargin:                      0;
$navbarToggleMargin:                $myGutter $myGutter 0;

/********************************************************************************/
/********************************************************************************/

/****************************/
/********** FOOTER **********/
/****************************/

$footerMargin:                      $myGutter 0;
$footerMarginFa:                    0 $myDividedGutter 0 0;

/********************************************************************************/
/********************************************************************************/

/***********************/
/********** P **********/
/***********************/

$pMargin:                           0 0 $myGutter 0;

/********************************************************************************/
/********************************************************************************/

/******************************/
/********** HEADINGS **********/
/******************************/

$headingsMargin:                   0 0 $myGutter 0;

/********************************************************************************/
/********************************************************************************/

/***************************/
/********** LISTS **********/
/***************************/

$UlContentMargin:                   0;
$UlLiContentMargin:                 0 0 $myDividedGutter 0;
$DlMargin:                          0;

/********************************************************************************/
/********************************************************************************/

/***************************/
/********** FORMS **********/
/***************************/

$formPMargin:                       0;
$formLabelMargin:                   0 0 $myDividedGutter 0;
$formInputMargin:                   0 0 $myDividedGutter 0;
$formSubmitMargin:                  $myDividedGutter 0 0;

/********************************************************************************/
/********************************************************************************/

/************************/
/********** HR **********/
/************************/

$hrMargin:                          $myGutter auto;