/**
 * Talent Linker - SCSS - Variables - Opacity
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

/********************************/
/********** NAVIGATION **********/
/********************************/

$navLinkOpacity:                    1;
$navLinkOpacityH:                   1;

/********************************************************************************/
/********************************************************************************/

/***************************/
/********** LINKS **********/
/***************************/

$linkOpacity:                       1;
$linkOpacityH:                      0.8;

/********************************************************************************/
/********************************************************************************/

/*****************************/
/********** BUTTONS **********/
/*****************************/

$btnOpacity:                        1;
$btnOpacityH:                       0.8;

/********************************************************************************/
/********************************************************************************/

/***************************/
/********** FORMS **********/
/***************************/

$formSubmitOpacity:                 1;
$formSubmitOpacityH:                0.8;