/**
 * Talent Linker - SCSS - Variables - Opacity
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

/********************************/
/********** NAVIGATION **********/
/********************************/

$navLinkOpactiy:                    1;
$navLinkOpactiyH:                   1;

/********************************************************************************/
/********************************************************************************/

/*****************************/
/********** BUTTONS **********/
/*****************************/

$btnOpactiy:                        1;
$btnOpactiyH:                       0.8;

/********************************************************************************/
/********************************************************************************/

/***************************/
/********** FORMS **********/
/***************************/

$formSubmitOpactiy:                 1;
$formSubmitOpactiyH:                0.8;