/**
 * Talent Linker - SCSS - Variables - Padding
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

/****************************/
/********** HEADER **********/
/****************************/

$headerPadding:                     0;

/********************************************************************************/
/********************************************************************************/

/********************************/
/********** NAVIGATION **********/
/********************************/

$navbarPadding:                     0;
$navbarHeaderPadding:               0;
$navbarCollapsePadding:             0;
$navbarTogglePadding:               $myDividedGutter;
$navbarInnerPadding:                0;
$navbarAPadding:                    $myDividedGutter $myGutter;

/********************************************************************************/
/********************************************************************************/

/****************************/
/********** FOOTER **********/
/****************************/

$footerPadding:                     $myBasicGutter 0;
$footerPaddingFa:                   0;

/********************************************************************************/
/********************************************************************************/

/***************************/
/********** LISTS **********/
/***************************/

$UlContentPadding:                  0;
$UlLiContentPadding:                0;
$DlPadding:                         0;

/********************************************************************************/
/********************************************************************************/

/***************************/
/********** FORMS **********/
/***************************/

$formInputPadding:                  0;
$formSubmitPadding:                 $myDividedGutter $myDividedGutter $myDividedGutter $myDividedGutter;

/********************************************************************************/
/********************************************************************************/

/*****************************/
/********** BUTTONS **********/
/*****************************/

$paddingBtn:                        $myDividedGutter $myDividedGutter $myDividedGutter $myDividedGutter;
$paddingBtnSpan:                    0 0 0 $myDividedGutter/4;