// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "settings/main";

body {
    background: black;
}

/*.control-label {
  text-align: right;
}

#feedback{
  display:block;
  position:fixed;
  top:200px;
  right:0;
  background:#007bff;
  padding:7px 7px;
  color: white;
  z-index: 9999;
}

.comment_user{
  float: right;
}

#feedback:hover{
  background-color:#0056b3;
}

.darken {
  display: block;
  cursor: pointer;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hidden{
  display: none;
}

.darken:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#delete_form {
    display: inline-block;
}

.image-64{
  width: 64px;
  height: 64px;
}
.image-256{
  width: 256px;
  height: 256px;
}

.col-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search-button{
  cursor: pointer;
}

.delete-message a{
  cursor: pointer;

}

.delete-message{
  float: right;
  padding: 5px;
  margin-right: -20px;
  margin-top: -15px;
}

.pending-message{
  border-color: red;
}

.btn-delete-conv{
    float: right;
}

.btn-delete-conv{
    background:#007bff;
    padding:7px 7px;
    color: white;
    border: 0;
}

.btn-delete-conv:hover{
    background-color:#0056b3;
}*/