/**
 * Talent Linker - SCSS - Main
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**
 * Talent Linker - SCSS - Fonts
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
/**
 * Talent Linker - SCSS - Variables
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**
 * Talent Linker - SCSS - Variables - Settings
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/************************************/
/********** DEFAULT MARGIN **********/
/************************************/
/**
 * Talent Linker - SCSS - Variables - Colors
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
*/
/*******************************************/
/********** BLACK / GRAYS / WHITE **********/
/*******************************************/
/********************************************************************************/
/********************************************************************************/
/****************************/
/********** COLORS **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/*************************************/
/********** BRAND / PRIMARY **********/
/*************************************/
/********************************************************************************/
/********************************************************************************/
/****************************/
/********** ERRORS **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/**************************/
/********** BODY **********/
/**************************/
/********************************************************************************/
/********************************************************************************/
/****************************/
/********** HEADER **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/********************************/
/********** NAVIGATION **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/******************************/
/********** HEADINGS **********/
/******************************/
/********************************************************************************/
/********************************************************************************/
/****************************/
/********** FOOTER **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** LINKS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** FORMS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/*****************************/
/********** BUTTONS **********/
/*****************************/
/**
 * Talent Linker - SCSS - Variables - Fonts
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/******************************/
/********** FAMILIES **********/
/******************************/
/********************************************************************************/
/********************************************************************************/
/****************************/
/********** BASICS **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/**************************/
/********** BODY **********/
/**************************/
/********************************************************************************/
/********************************************************************************/
/********************************/
/********** NAVIGATION **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/****************************/
/********** FOOTER **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** LINKS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** FORMS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/*****************************/
/********** BUTTONS **********/
/*****************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** LISTS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/******************************/
/********** HEADINGS **********/
/******************************/
/**
 * Talent Linker - SCSS - Variables - Line height
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**************************/
/********** BODY **********/
/**************************/
/********************************************************************************/
/********************************************************************************/
/********************************/
/********** NAVIGATION **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/****************************/
/********** FOOTER **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/***********************/
/********** P **********/
/***********************/
/**
 * Talent Linker - SCSS - Variables - Margin
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/****************************/
/********** HEADER **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/********************************/
/********** NAVIGATION **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/****************************/
/********** FOOTER **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/***********************/
/********** P **********/
/***********************/
/********************************************************************************/
/********************************************************************************/
/******************************/
/********** HEADINGS **********/
/******************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** LISTS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** FORMS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/************************/
/********** HR **********/
/************************/
/**
 * Talent Linker - SCSS - Variables - Padding
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/****************************/
/********** HEADER **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/********************************/
/********** NAVIGATION **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/****************************/
/********** FOOTER **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** LISTS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** FORMS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/*****************************/
/********** BUTTONS **********/
/*****************************/
/**
 * Talent Linker - SCSS - Variables - Borders
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/****************************/
/********** HEADER **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/********************************/
/********** NAVIGATION **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/****************************/
/********** FOOTER **********/
/****************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** FORMS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/*****************************/
/********** BUTTONS **********/
/*****************************/
/********************************************************************************/
/********************************************************************************/
/******************************/
/********** ELEMENTS **********/
/******************************/
/**
 * Talent Linker - SCSS - Variables - Outline
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/********************************/
/********** NAVIGATION **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** FORMS **********/
/***************************/
/**
 * Talent Linker - SCSS - Variables - Opacity
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/********************************/
/********** NAVIGATION **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/*****************************/
/********** BUTTONS **********/
/*****************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** FORMS **********/
/***************************/
/**
 * Talent Linker - SCSS - Variables - Select
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/****************************/
/********** SELECT **********/
/****************************/
/**
 * Talent Linker - SCSS - Variables - Dimensions
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**
 * Talent Linker - SCSS - Variables - Backgrounds
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**
 * Talent Linker - SCSS - Mixins
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/***********************************/
/********** BORDER RADIUS **********/
/***********************************/
/********************************************************************************/
/********************************************************************************/
/********************************/
/********** BOX SHADOW **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/********************************/
/********** BOX SIZING **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/*********************************/
/********** TEXT SHADOW **********/
/*********************************/
/********************************************************************************/
/********************************************************************************/
/********************************/
/********** TRANSITION **********/
/********************************/
.btn, .btn:link, .btn:visited, .btn:hover, .btn:active, .btn:focus {
  transition: 0.25 all linear; }

/********************************************************************************/
/********************************************************************************/
/*******************************/
/********** TRANSFORM **********/
/*******************************/
/********************************************************************************/
/********************************************************************************/
/******************************/
/********** GRADIENT **********/
/******************************/
/********************************************************************************/
/********************************************************************************/
/******************************/
/********** FLEX BOX **********/
/******************************/
/********************************************************************************/
/********************************************************************************/
/********************************/
/********** BACKGROUND **********/
/********************************/
/********************************************************************************/
/********************************************************************************/
/***************************/
/********** LINKS **********/
/***************************/
/********************************************************************************/
/********************************************************************************/
/**************************/
/********** FONT **********/
/**************************/
/********************************************************************************/
/********************************************************************************/
/**************************/
/********** REST **********/
/**************************/
/********************************************************************************/
/********************************************************************************/
/*************************/
/********** @2X **********/
/*************************/
/**
 * Talent Linker - SCSS - Mixins
 *
 * since		29.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/******************************/
/********** HEADINGS **********/
/******************************/
/********************************************************************************/
/********************************************************************************/
/******************************/
/********** SECTIONS **********/
/******************************/
/**
 * Talent Linker - SCSS - Functions
 *
 * since		29.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**************************/
/********** MAPS **********/
/**************************/
/**********/
/********** DEEP GET **********/
/**********/
/*
 * @param $map              Map
 * @param $keys             Keys to fetch
 * @return $map
 */
/**********/
/********** DEEP SET **********/
/**********/
/*
 * @param $map              Map
 * @param $keys             Keys to fetch
 * @return $result
 */
/**********/
/********** MAP DEPTH **********/
/**********/
/*
 * @param $map              Map
 * @return $result
 */
/**********/
/********** MAP HAS KEY **********/
/**********/
/*
 * @param $map              Map
 * @param $keys             Keys to fetch
 * @return Bool
 */
/**********/
/********** MAP HAS NESTED KEY **********/
/**********/
/*
 * @param $map              Map
 * @param $keys             Keys to fetch
 * @return Bool
 */
/********************************************************************************/
/********************************************************************************/
/**
 * Talent Linker - SCSS - Body
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
body {
  position: relative;
  font-family: "Roboto", Helvetica, "Lucida Grande", sans-serif;
  color: #B4B0B0;
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  text-align: justify;
  line-height: 1.5;
  background-color: #ffffff;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

/**
 * Talent Linker - SCSS - Buttons
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
.btn, .btn:link, .btn:visited {
  padding: 15px 15px 15px 15px;
  border: 1px solid #0F6C96;
  color: #0F6C96;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 1;
  background-color: transparent;
  border-radius: 120px; }

.btn:hover, .btn:active, .btn:focus {
  border: 1px solid #0F6C96 !important;
  color: #0F6C96 !important;
  opacity: 0.8;
  background-color: transparent !important; }

.btn.lg {
  font-size: 1.5rem; }

.btn.xs {
  font-size: 1rem; }

/**
 * Talent Linker - SCSS - Footer
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**
 * Talent Linker - SCSS - Forms
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**************************/
/********** FORM **********/
/**************************/
form p {
  margin: 0; }

form label {
  display: block;
  margin-bottom: 7.5px;
  text-align: left;
  font-weight: normal;
  clear: both; }

form input[type="text"],
form input[type="password"],
form input[type="email"],
form select,
form textarea {
  display: block;
  margin: 0 0 7.5px;
  border-radius: 0;
  clear: both; }

form input[type="text"],
form input[type="password"],
form input[type="email"],
form textarea {
  width: 100%;
  border: 1px solid #0F6C96 !important;
  background-color: #ffffff;
  outline: none !important;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 0; }
  form input[type="text"]:focus,
  form input[type="password"]:focus,
  form input[type="email"]:focus,
  form textarea:focus {
    border: 1px solid #169edc !important;
    outline: none !important;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

form textarea {
  border: 1px solid #0F6C96 !important;
  resize: none;
  outline: none !important;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
  form textarea:focus {
    border: 1px solid #169edc !important;
    outline: none !important;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

form input[type="submit"] {
  width: 100%;
  margin: 15px 0 0;
  padding: 15px 15px 15px 15px;
  border: 1px solid #0F6C96;
  opacity: 1;
  color: #ffffff;
  font-size: 17.5px;
  font-family: "Roboto", Helvetica, "Lucida Grande", sans-serif;
  text-transform: none;
  font-weight: normal;
  line-height: 1;
  background: #0F6C96;
  letter-spacing: 1px;
  border-radius: 0;
  transition: all 0.1s ease; }
  form input[type="submit"]:focus, form input[type="submit"]:hover {
    border: 1px solid #0F6C96;
    color: #ffffff;
    opacity: 0.8;
    background: #0F6C96;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    transition: all 0.1s ease; }
  form input[type="submit"].full-width {
    width: 100%; }
  form input[type="submit"].uppercase {
    text-transform: uppercase; }

/**
 * Talent Linker - SCSS - Heading
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
h1, .h1 {
  margin: 0 0 30px 0;
  font-family: "Roboto", Helvetica, "Lucida Grande", sans-serif;
  color: #0F6C96;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 4.5rem; }

h2, .h2 {
  margin: 0 0 30px 0;
  font-family: "Roboto", Helvetica, "Lucida Grande", sans-serif;
  color: #0F6C96;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 3.5rem; }

h3, .h3 {
  margin: 0 0 30px 0;
  font-family: "Roboto", Helvetica, "Lucida Grande", sans-serif;
  color: #0F6C96;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 3rem; }

h4, .h4 {
  margin: 0 0 30px 0;
  font-family: "Roboto", Helvetica, "Lucida Grande", sans-serif;
  color: #0F6C96;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2.5rem; }

h5, .h5 {
  margin: 0 0 30px 0;
  font-family: "Roboto", Helvetica, "Lucida Grande", sans-serif;
  color: #0F6C96;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2rem; }

h6, .h6 {
  margin: 0 0 30px 0;
  font-family: "Roboto", Helvetica, "Lucida Grande", sans-serif;
  color: #0F6C96;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.5rem; }

/**
 * Talent Linker - SCSS - Links
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
a, a:link, a:visited {
  color: #0F6C96;
  text-decoration: none; }

a:hover, a:active, a:focus {
  color: #169edc;
  text-decoration: none; }

/**
 * Talent Linker - SCSS - Navigation
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**
 * Talent Linker - SCSS - Sections
 *
 * since		07.12.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
.blue-section {
  color: #ffffff;
  background-color: #0F6C96; }
  .blue-section a, .blue-section a:link, .blue-section a:visited {
    color: #ffffff; }
  .blue-section a:hover, .blue-section a:active, .blue-section a:focus {
    color: #ffffff; }

.gray-section {
  color: #B4B0B0;
  background-color: #F0F0F0; }
  .gray-section a, .gray-section a:link, .gray-section a:visited {
    color: #0F6C96; }
  .gray-section a:hover, .gray-section a:active, .gray-section a:focus {
    color: #169edc; }

.alpha-section {
  color: #ffffff;
  background-color: transparent; }
  .alpha-section a, .alpha-section a:link, .alpha-section a:visited {
    color: #ffffff; }
  .alpha-section a:hover, .alpha-section a:active, .alpha-section a:focus {
    color: #ffffff; }

/**
 * Talent Linker - SCSS - tables
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**
 * Talent Linker - SCSS - Typography
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
p {
  margin: 0 0 30px 0;
  line-height: 1.5; }
  p:last-child {
    margin: 0; }

/**
 * Talent Linker - SCSS - Videos
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/**
 * Talent Linker - SCSS - Utils
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/****************************/
/********** MARGIN **********/
/****************************/
.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-top {
  margin-top: 0; }

.no-margin-left {
  margin-left: 0; }

.no-margin-right {
  margin-right: 0; }

.no-margin-top-bottom {
  margin-top: 0;
  margin-bottom: 0; }

.no-margin-left-right {
  margin-left: 0;
  margin-right: 0; }

.no-margin {
  margin: 0; }

.margin-bottom {
  margin-bottom: 30px; }

.margin-top {
  margin-top: 30px; }

.margin-left {
  margin-left: 30px; }

.margin-right {
  margin-right: 30px; }

.margin-top-bottom {
  margin-top: 30px;
  margin-bottom: 30px; }

.margin-left-right {
  margin-left: 30px;
  margin-right: 30px; }

.margin-bottom-divided {
  margin-bottom: 15px; }

.margin-top-divided {
  margin-top: 15px; }

.margin-bottom-991 {
  margin-bottom: 0;
  transition: all ease 0.25s; }

.margin-bottom-767 {
  margin-bottom: 0;
  transition: all ease 0.25s; }

/********************************************************************************/
/********************************************************************************/
/*****************************/
/********** PADDING **********/
/*****************************/
.no-padding-bottom {
  padding-bottom: 0; }

.no-padding-top {
  padding-top: 0; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

.no-padding-top-bottom {
  padding-top: 0;
  padding-bottom: 0; }

.no-padding-left-right {
  padding-left: 0;
  padding-right: 0; }

.no-padding {
  padding: 0 !important; }

.padding-bottom {
  padding-bottom: 30px; }

.padding-top {
  padding-top: 30px; }

.padding-left {
  padding-left: 30px; }

.padding-right {
  padding-right: 30px; }

.padding-top-bottom {
  padding-top: 30px;
  padding-bottom: 30px; }

.padding-left-right {
  padding-left: 30px;
  padding-right: 30px; }

.padding-top-bottom-big-size {
  padding-top: 120px;
  padding-bottom: 120px; }

.small-padding-top-bottom {
  padding-top: 15px;
  padding-bottom: 15px; }

.small-padding-top {
  padding-top: 15px; }

.small-padding-bottom {
  padding-bottom: 15px; }

/********************************************************************************/
/********************************************************************************/
/*****************************/
/********** BORDERS **********/
/*****************************/
/********************************************************************************/
/********************************************************************************/
/************************/
/********** HR **********/
/************************/
hr {
  margin: 30px auto; }

/********************************************************************************/
/********************************************************************************/
/*******************************/
/********** SELECTION **********/
/*******************************/
::-moz-selection {
  color: #ffffff;
  background-color: #169edc; }
::selection {
  color: #ffffff;
  background-color: #169edc; }

::-moz-selection {
  color: #ffffff;
  background-color: #169edc; }

/********************************************************************************/
/********************************************************************************/
/*****************************/
/********** OVERLAY **********/
/*****************************/
.overlay-body {
  content: ' ';
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 90000;
  background-color: rgba(127, 127, 127, 0.75); }

/********************************************************************************/
/********************************************************************************/
/*****************************/
/********** DISPLAY **********/
/*****************************/
.display-none {
  display: none !important; }

/**
 * Talent Linker - SCSS - Responsive
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */
/***************************************/
/********** MAX-WIDTH: 1170px **********/
/***************************************/
/********************************************************************************/
/********************************************************************************/
/***************************************/
/********** MAX-WIDTH: 1025px **********/
/***************************************/
/********************************************************************************/
/********************************************************************************/
/***************************************/
/********** MAX-WIDTH: 1024px **********/
/***************************************/
/********************************************************************************/
/********************************************************************************/
/**************************************/
/********** MAX-WIDTH: 991px **********/
/**************************************/
@media (max-width: 991px) {
  .margin-bottom-991 {
    margin-bottom: 30px;
    transition: all ease 0.25s; } }

/********************************************************************************/
/********************************************************************************/
/**************************************/
/********** MAX-WIDTH: 990px **********/
/**************************************/
/********************************************************************************/
/********************************************************************************/
/**************************************/
/********** MAX-WIDTH: 768px **********/
/**************************************/
/********************************************************************************/
/********************************************************************************/
/**************************************/
/********** MAX-WIDTH: 767px **********/
/**************************************/
@media (max-width: 767px) {
  .margin-bottom-767 {
    margin-bottom: 15px;
    transition: all ease 0.25s; } }

/********************************************************************************/
/********************************************************************************/
/**************************************/
/********** MAX-WIDTH: 680px **********/
/**************************************/
/********************************************************************************/
/********************************************************************************/
/**************************************/
/********** MAX-WIDTH: 480px **********/
/**************************************/
/********************************************************************************/
/********************************************************************************/
/**************************************/
/********** MAX-WIDTH: 420px **********/
/**************************************/
/********************************************************************************/
/********************************************************************************/
/**************************************/
/********** MAX-WIDTH: 360px **********/
/**************************************/
/*.control-label {
  text-align: right;
}

#feedback{
  display:block;
  position:fixed;
  top:200px;
  right:0;
  background:#007bff;
  padding:7px 7px;
  color: white;
  z-index: 9999;
}

.comment_user{
  float: right;
}

#feedback:hover{
  background-color:#0056b3;
}

.darken {
  display: block;
  cursor: pointer;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hidden{
  display: none;
}

.darken:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#delete_form {
    display: inline-block;
}

.image-64{
  width: 64px;
  height: 64px;
}
.image-256{
  width: 256px;
  height: 256px;
}

.col-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search-button{
  cursor: pointer;
}

.delete-message a{
  cursor: pointer;

}

.delete-message{
  float: right;
  padding: 5px;
  margin-right: -20px;
  margin-top: -15px;
}

.pending-message{
  border-color: red;
}

.btn-delete-conv{
    float: right;
}

.btn-delete-conv{
    background:#007bff;
    padding:7px 7px;
    color: white;
    border: 0;
}

.btn-delete-conv:hover{
    background-color:#0056b3;
}*/

/*# sourceMappingURL=style.css.map */
