/**
 * Talent Linker - SCSS - Heading
 *
 * since		28.11.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
*/

h1, h2, h3, h4, h5, h6 {
    margin: $headingsMargin;
    font-family: $headingFontFamily;
    color: $headingsColor;
    font-weight: $headingsFontWeight;
    text-transform: $headingsFontTransform;
}

h1 {
    font-size: $h1FontSize;
}

h2 {
    font-size: $h2FontSize;
}

h3 {
    font-size: $h3FontSize;
}

h4 {
    font-size: $h4FontSize;
}

h5 {
    font-size: $h5FontSize;
}

h6 {
    font-size: $h6FontSize;
}